/* This style sheet is taken from  https://www.w3schools.com/howto/howto_js_tabs.asp> */

/* Style the tab */
.tab {
  overflow: hidden;
  /* border: 1px solid rgb(255, 255, 255);
  background-color: #ffffff; */
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  /* border: 1px solid #ccc;
  border-top: none; */
}

.accordion {
  background-color: #000000;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:25px;
  font-weight:bolder;
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;

}

.active, .accordion:hover {
  background-color: #dd5b22;
}

.panel {
  padding: 0 18px;
  background-color:#924c7ac0;
  /* background-color:#924C7A; */
  display: none;
  overflow: hidden;
}

.checkbox-round {
  width: 1.3em;
  height: 1.3em;
  background-color: #e4e4e4;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid rgb(0, 0, 0);
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox-round:checked {
  background-color: #4ca16a;
}
  
#signature {
  display: block;
  position: absolute;
  padding-right: 10px;
  bottom: 0;
  right: 0;
  color: #000000;
  font-style: italic;
  font-size: 75%;
}

#storeTitle{
  position:absolute;
  right:0;
  font-size:20px;
  padding-right:250px;
  padding-top:13px;
}